{% extends "generator/base.html" %}

{% block content %}
<h5>Postup</h5><br>
    <ul>
        <li>Generátor je nastavený vždy na aktuální měsíc.</li>
        <li>V příslušném poli pro den vaší služby vyberte její typ.</li>
        <li>Zaškrtněte, že jste člověk a ev. to dokažte na úloze, která po vás bude vyžadována :)</li>
        <li>Klikněte na "Generovat"</li>
        <li>Zjeví se nabídka k uložení vygenerované AIS</li>
        <li>Tu si uložte, otevřete a doplňe o další potřebné údaje (jméno, os. číslo, etc.)</li>
        <li>Pozn.: stránka optimalizována pro prohlížeče Chrome a Edge, v Internet Exploreru nefunguje její rozložení, ale generovácí funkce je zachována</li>
    </ul>
    <br>
    <p>
    Je pravděpodobné, že něco někde nebude fungovat, stránka je stále ve fázi testování. Rovněž je samozřejmé, že neručím
    za správnost vygenerovaných dat, chybička se může kdykoliv vloudit, proto prosím svou AIS před odevzdáním zkontrolujte.
    </p>

{% endblock %}
