{% extends "generator/base.html" %}

{% block content %}

    <div class="wrapper_box">
        <div class="box">
            <p>1</p>
            <input type="text">
        </div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
        <div class="box">6</div>
        <div class="box">7</div>
        <div class="box">8</div>
        <div class="box">9</div>
        <div class="box">10</div>
        <div class="box">11</div>
        <div class="box">12</div>
    </div>


    <form action="{% url 'generator:index' %}" method="post">
        <div class="wrapper_box">
            {% csrf_token %}
            {% for day in days_list %}
                <div class="box">
                    {% comment %}<input type="text" name="date" id="date {{ forloop.counter }} "><br>
                <label for="date {{ forloop.counter }} ">{{ day }}</label>{% endcomment %}
                    <select id="date {{ forloop.counter }} " name="date">
                        <option value="nan"></option>
                        <option value="d1">D1</option>
                        <option value="d2">D2</option>
                        <option value="z">Z</option>
                        <option value="n1">N1</option>
                        <option value="d3">D3</option>
                    </select>
                    <label for="date {{ forloop.counter }} ">{{ day }}</label>
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="Generovat "><br>
        </div>
    </form>

{% endblock %}

