{% extends "generator/base.html" %}

{% block content %}
    <h1 class="datum"> {% now "F Y" %}</h1><br>
    <form action="{% url 'generator:index' %}" method="post">
     {% csrf_token %}
        <div class="wrapper_box">
            <div class="box_inactive">Po</div>
            <div class="box_inactive">Út</div>
            <div class="box_inactive">St</div>
            <div class="box_inactive">Čt</div>
            <div class="box_inactive">Pá</div>
            <div class="box_inactive">So</div>
            <div class="box_inactive">Ne</div>
            {% for foo in first_day_in_m %}
                <div class="box_inactive"></div>
            {% endfor %}

            {% for day in days_list %}
                <div class="box">
                    {% comment %}<input type="text" name="date" id="date {{ forloop.counter }} "><br>
                <label for="date {{ forloop.counter }} ">{{ day }}</label>{% endcomment %}
                    <select id="date {{ forloop.counter }} " name="date">
                        <option value="nan"></option>
                        <option value="d1">D1</option>
                        <option value="d2">D2</option>
                        <option value="z">Z</option>
                        <option value="n1">N1</option>
                        <option value="d3">D3</option>
                    </select>
                    <label for="date {{ forloop.counter }} ">{{ day }}</label>
                </div>
            {% endfor %}
            <br>

        </div>
        <div class="recaptcha">
            <div class="g-recaptcha" data-sitekey="6LcBYncUAAAAANJxrHi-15DFKZPyNdP9bVmYwrrl"></div>
            <br>
            <input class="box_submit" type="submit" value="Generovat "><br>
        </div>
    </form>

{% endblock %}

